APP_NAME=Curly
APP_URL=http://localhost:3000

DATABASE_URL=postgresql://curly:curly@127.0.0.1:5432/curly?schema=public
DATABASE_URL_DOCKER=postgresql://curly:curly@postgres:5432/curly?schema=public
POSTGRES_PASSWORD=curly

SESSION_COOKIE_NAME=curly_session
SESSION_TTL_DAYS=14

MEDIA_ROOT=/srv/curly/media

JELLYFIN_URL=http://127.0.0.1:8096
JELLYFIN_INTERNAL_URL=http://jellyfin:8096
JELLYFIN_SERVER_NAME=Curly Media
JELLYFIN_SERVICE_USERNAME=curly-service
JELLYFIN_SERVICE_PASSWORD=change-this-jellyfin-password
JELLYFIN_API_KEY=
JELLYFIN_USER_ID=

FILEBROWSER_URL=http://127.0.0.1:8080
FILEBROWSER_INTERNAL_URL=http://filebrowser:8080
FILEBROWSER_PROXY_PATH=/api/files
